<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Doug's Webapp'</title>
    <meta name="description" content="Meta description of this website">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Graph -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="apple-touch-icon" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="">
    <link rel="icon" type="image/png" sizes="16x16" href="">

    <!-- Set a theme color: -->
    <meta name="theme-color" content="#fafafa">
  </head>
  <body>



  </body>
</html>
